VITE_KAKAO_MAP_KEY=your_kakao_javascript_key_here
VITE_SUPABASE_URL=your_supabase_project_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_public_key_here
VITE_KMA_API_KEY=your_kma_data_go_kr_service_key_here
VITE_WINTER_SHELTER_API_KEY=your_safetydata_winter_shelter_service_key_here
VITE_SUMMER_SHELTER_API_KEY=your_safetydata_summer_shelter_service_key_here
